:root{
    --primary:hsla(177, 94%, 38%, 0.65);
    --secondary:hsla(187, 48%, 52%, 0.65);
}
header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 600px;
    color: white;
    place-items: center;
    background: linear-gradient(135deg, var(--primary), var(--secondary)),
                 url("https://previews.123rf.com/images/pitinan/pitinan1906/pitinan190601788/124945985-healthcare-people-group-professional-doctor-working-in-hospital-office-or-clinic-with-other-doctors-.jpg");
    background-repeat:no-repeat; 
    background-size: cover;  
}
.navbar{

    background-color:  #d2d9d5;
    /*border-radius: 2px;*/
    height: 60px;
    width: 100%;
    /*text-align: center;*/
}
.navbar ul{
    list-style: none;
    display: flex;
    float: right;

}
.logo{
    text-align: center;
    float: center;
    font-size: 23px;
    padding-top: 10px;
    font-weight: bold;
    color: rgb(8, 199, 199);
    text-transform: uppercase;
    font-family: 'Lora', serif;
}
.list-items{
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
    font-family: 'Lora', serif;

}
.navbar a{
    padding-top: 20px;
    padding-bottom: 22px;
    padding-right: 24px;
    padding-left: 24px;
    /*margin-top: 10px;*/
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #000;;
}
.navbar ul li a:hover{
    background-color: #a6ada8;
    color: white;
}

.btn{
    color: white;
    background-color: #1e9fa3;
    margin: 10px;
    width: 190px;
    height: 40px; 
    font-size: 18px;
    font-family: 'Lora', serif;
    border-radius: 10px; 
    border: 2px solid    rgb(77, 72, 72);
}
.bttn{

    text-align: center;
    
}
.btn:hover{
    color:   #ffffff;
    background-color: #07acc5; 
    text-decoration: underline;
    border: 2px solid     #ffffff; 
}

.content{
    /*margin: 100px ;*/
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
    font-family: 'Lora', serif;
    /*font-weight: bold;*/
}
.b{
    color: rgb(8, 8, 8);
    background-color: rgb(236, 241, 231);
    /* height: 60px; */
    padding: 10px;
    width: 130px;
    height: 46px;
    /*margin-top: 40px;*/
    cursor: pointer;
    font-size: 18px;
    /* font-weight: bold; */
    border-color: rgb(88, 80, 80);
    font-family: 'Lora', serif;  
    float: left;   
}
.b:hover{
    color:rgba(46, 44, 43, 0.897);
    background-color:rgb(167, 172, 165);
    border: 2px solid rgba(68, 78, 80, 0.596);
    text-decoration: underline;    
}
.con{
    text-align: center;
    font-family: 'Lora', serif; 
}

.contain{
    display: flex;
    background-color: white;
    justify-content: center;
    text-align: center;
    
        
}
.c{ 
    background-color: #f1f1f1;
    width: 340px;
    margin: 10px;
    text-align: center;
    height: 300px;
    padding-top: 40px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Lora', serif;
    /*justify-content: center;*/
    box-shadow: -10px 10px 10px rgb(167, 172, 165);
    
} 
.c:hover{
    color:rgba(243, 238, 235, 0.897);
    background-color:rgb(167, 172, 165);
    border: 2px solid rgba(68, 78, 80, 0.596);
    text-decoration: underline;    
}
.cir{
   background-color: #199ba0;
   width: 80px;
   height: 80px;
   border-radius: 100%;
   justify-content: center;
   text-align: center;
  margin: auto;
  
}