body{
	margin: 0px;
	padding: 0px;
	background-color: #286090;
}
.con{
	color: white;
	padding-top: 45px;
	/*padding-bottom: 2px;*/
	text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
}
.btn{
	/*justify-content: center;*/
	/*text-align: center;*/
	float: left;
	width: 135px;
	height: 50px;
	color: white;
	margin: 40px;
	/*padding: 30px, 30px;*/
    background-color: #286090;
    cursor: pointer;
    font-size: 20px;
    border-radius: 6px;
    border-color: white;
}
.btn:hover{
    color:rgba(46, 44, 43, 0.897);
    background-color:rgb(236, 241, 231);
    border: 2px solid rgba(68, 78, 80, 0.596);
    text-decoration: underline;
}
/*.cont{       
    color: black;
    float: left;
    background-color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    width: 100%;
    height: 340px;
    border-radius: 6px;
    padding: 50px 25px 50px 50px;
    margin: auto;
}*/
.cont{
    color: black;
    float: left;
    background-color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    width: 100%;
    height: 340px;
    border-radius: 6px;
    padding: 50px 25px 50px 50px;
    margin: auto;

}
.subm{
	/*justify-content: center;*/
	text-align: center;
	margin: 10px;
}
.sub{
    height: 35px;
    width: 70px;
    background: rgba(243, 63, 63, 0.993);
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    /*justify-content: center;*/
    /*float: center;*/
    /*margin: 15px 150px;*/
}
.sub:hover{
    color:rgba(235, 225, 220, 0.897);
    background-color:rgb(102, 100, 95); 
    text-decoration: underline;
    border: 2px solid rgba(228, 235, 236, 0.596);
            
}